<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Webhook Trading Bot</title>
        <link href="{{url_for('static', filename='styles.css')}}" rel="stylesheet">

    </head>

    <body>
        <div class="main-container">
          <div class="heading">
            <h1 class="heading__title">Торговый бот для TradingView</h1>
            <p class="heading__credits"><a class="heading__link" target="_blank" href="https://kwork.ru/user/anshf">Made by @JayZAnsh</a></p>
          </div>
          <div class="cards">
            <div class="card card-1">
              <div class="card__icon"><i class="fas fa-bolt"></i></div>
              <p class="card__exit"><i class="fas fa-times"></i></p>
              <h2 class="card__title">
                Статистика:<br>
                Кол-во сделок: {{ context.stat.deals }}<br>
                Доход: ${{ context.stat.profit }}<br>
                Комиссии уплачено: ${{ context.stat.total_fee }}<br>
                Доход за вычетом комиссий: ${{ context.stat.clean_profit }}<br>
              </h2>
            </div>
              <div class="card card-1">
              <div class="card__icon"><i class="fas fa-bolt"></i></div>
              <p class="card__exit"><i class="fas fa-times"></i></p>
              <h2 class="card__title">
                Статистика Tinkoff:<br>
                Кол-во сделок: {{ context.stat_t.deals }}<br>
                Доход: ${{ context.stat_t.profit }}<br>
                Комиссии уплачено: ${{ context.stat_t.total_fee }}<br>
                Доход за вычетом комиссий: ${{ context.stat_t.clean_profit }}<br>
              </h2>
            </div>
            <div class="card card-2">
              <div class="card__icon"><i class="fas fa-bolt"></i></div>
              <p class="card__exit"><i class="fas fa-times"></i></p>
              <h2 class="card__title">
                  Параметры необходимые для бота:<br>
                  API-ключи: {{ context.client }}<br>
                  Уведомления: {{ context.notifications }}
              </h2>
              <p class="card__apply">
                <a class="card__link" href="{{ url_for('params') }}">Изменить <i class="fas fa-arrow-right"></i></a>
              </p>
            </div>
            <div class="card card-2">
              <div class="card__icon"><i class="fas fa-bolt"></i></div>
              <p class="card__exit"><i class="fas fa-times"></i></p>
              <h2 class="card__title">
                  Параметры необходимые для Тинькофф-бота:<br>
                  API-ключи: {{ context.t_client }}<br>
              </h2>
              <p class="card__apply">
                <a class="card__link" href="{{ url_for('params_t') }}">Изменить <i class="fas fa-arrow-right"></i></a>
              </p>
            </div>
            </div>
          </div>
        </div>
    </body>
</html>